PGPGenerator/PGPGenerator/Connected Services/M10BusinessProcess/Mitra10BusinessProcess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mitra10.BusinessProcess.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mitra10.BusinessProcess.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPrivilege">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Privilege" nillable="true" type="tns:Privilege" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivilege" nillable="true" type="tns:ArrayOfPrivilege" />
  <xs:complexType name="Privilege">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivilegeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivilegeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Privilege" nillable="true" type="tns:Privilege" />
  <xs:complexType name="ArrayOfModuleDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleDataContract" nillable="true" type="tns:ModuleDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleDataContract" nillable="true" type="tns:ArrayOfModuleDataContract" />
  <xs:complexType name="ModuleDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="AuditActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuditTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AuditUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleCategory" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleDataContract" nillable="true" type="tns:ModuleDataContract" />
</xs:schema>